@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/static/SpaceGrotesk-Light.ttf');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/static/SpaceGrotesk-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/static/SpaceGrotesk-Medium.ttf');
    font-weight: 500;
  }
  @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/static/SpaceGrotesk-SemiBold.ttf');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/static/SpaceGrotesk-Bold.ttf');
    font-weight: 700;
  }

  :root {
    @apply font-space-grotesk;
  }

  html, body, #app {
    @apply h-full;
  }
}
